<!doctype html>
<html>
<head>
    <title>{title} | J.R.</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>

<body>
    <header>J.R.</header>

    <section id="content" class="{slug}">
        <small class="meta">Published {date}

