@import "compass";
@import "reset";

$body-bg:   #fdfdfe;
$font-head: "apertura", Helvetica, sans-serif;
$font-body: "garvis-pro", Helvetica, serif;
$font-mono: "source-code-pro", "Courier New", monospace;

$width-wrapper: 640px;

$weight-heading:    700;
$weight-normal:     400;

$color-head:    saturate(lighten(#161D25, 8%), 0%);
$color-body:    #393949;
$color-faint:   mix($color-head, $body-bg, 50%);

$font-size:     21px;


@mixin _transition($arg) {
            transition: $arg;
    -webkit-transition: $arg;
       -moz-transition: $arg;
         -o-transition: $arg;
}


body {
    background:     $body-bg url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIElEQVQIW2P8DwSMQMAABWA+iA2TgNGoKqA6sKvEZiYAYjkj/opu0ZUAAAAASUVORK5CYII=);
    font-family:    $font-body;
    font-weight:    $weight-normal;
    font-size:      $font-size;
    color:          $color-body;
    line-height:    1.65em;
}

h1, h2, h3, h4, h5, h6 {
    @include text-shadow(1px 1px 0 #fff);
    font-family:    $font-head;
    font-weight:    $weight-heading;
    letter-spacing: -1px;
    color:          $color-head;
}

h1 {
    @include text-shadow(1px 1px 0 #fff);
    font-size:      2em;
    word-spacing:   3px;
    line-height:    1.3em;
}

h2 {
    font-size:      1.375em;
    word-spacing:   2px;
    margin-top:     1em;
    margin-bottom:  0.25em;
}

h3 {
    font-size:      1em;
    word-spacing:   1px;
    margin-top:     1em;
}

h6 {
    font-size:      3em;
    color:          mix($color-faint, $body-bg, 8%);
    text-align:     center;
    letter-spacing: 3px;
    word-spacing:   12px;
    font-weight:    500;
}

a {
    $color: mix(#0000ff, $color-body, 48%);

    color:  $color;

    &:hover {
        color:  darken($color, 0.2);
    }
}

p {
    margin-bottom:  1.25em;
}

ol, ul {
    margin: 1.5em 0 2em 2em;
}

img {
    max-width:      $width;
    margin-top:     1em;
    margin-bottom:  1em;
}

strong, b {
    font-weight:    700;
}

code {
    @include border-radius(4px);
    font-family:    $font-mono;
    font-size:      0.875em;
    font-style:     normal;
    background:     #eeeef8;
    padding:        0 0.35em;
    border:         1px solid #ddd;
}

small {
    font-size:      0.75em;
    font-style:     italic;
    font-family:    $font-head;
}

header {
    @include box-shadow(0 1px 0 #fff);

    margin:         0.5em 0 2.5em 0;
    font-size:      0.75em;
    border-bottom:  1px solid #eee;
    overflow:       visible;

    position:       relative;

    h1 {
        font-family:    $font-body;
        line-height:    2em;
        color:          $color-faint;
        font-weight:    400;
        overflow:       visible;

        a {
            text-decoration:    none;
            color:              $color-faint;

            &:active, &:visited {
                color:  $color-faint;
            }

            &:hover, &.fade:hover {
                @include _transition(color 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955));

                color:              $color-head;
                text-decoration:    underline;

                &:before {
                    content:        "";
                    background:     url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAVdEVYdENyZWF0aW9uIFRpbWUAMS8yMC8xM0XKGmUAAACGSURBVCiRxdAtEoAgEIbhD8eDcQ+CZC5ANtJMZA3cQ0+mxV9w1x0NbnPkfWQFmAkxdSGmjjujmLgH0KyPg3fGioEs3uYWKQAiJpEL8BDfIjsgjAtEvYgviAox2VOshfG4Ifk/mCW1d2bvKuEXyamZdyOOq2oQ63HA5J1pASDEpCjg8wr/AwsXYTFo1kr4mAAAAABJRU5ErkJggg==) left center no-repeat;
                    display:        block;

                    height:         16px;
                    width:          16px;
                    left:           0;
                    margin-left:    -36px;
                    top:            50%;
                    margin-top:     -8px;

                    position:       absolute;
                }
            }

            &.fade {
                @include _transition(all 1s);
                color:  mix($color-faint, $body-bg, 32%);
            }
        }
    }

    .wrapper {
        position:   relative;
    }
}

.wrapper {
    width:      $width-wrapper;
    margin:     0 auto;
    overflow:   visible;
}

#post {
    h1 {
        margin-bottom:  0.5em;
    }
}

#post-list {
    overflow:   visible;
    list-style: none;
    margin:     0;

    li {
        margin-bottom:  0.75em;
        padding-bottom: 0.675em;
        position:       relative;
        overflow:       visible;
    }

    a {
        font-family:        $font-head;
        font-weight:        600;
        font-size:          1.35em;
        color:              $color-head;
        border-bottom:      1px dashed mix($color-head, $body-bg, 20%);
        text-decoration:    none;

        &:hover {
            border-style:   solid;
            border-color:   mix($color-head, $body-bg, 50%);
        }
    }

    small {
        @include inline-block;
        font-size:      0.75em;
        font-style:     normal;
        width:          80px;
        padding-right:  20px;
        text-align:     right;
        color:          mix($color-faint, $body-bg, 32%);

        position:       absolute;
        left:           -94px;
        bottom:         1.25em;

        letter-spacing: 1px;
        line-height:    1em;
    }
}

#bottom {
    @include box-shadow(0 1px 0 #fff);
    border-top:     1px solid #eee;
    margin-top:     2em;
    font-size:      0.75em;
    text-align:     center;
    color:          lighten($color-faint, 24%);
    font-family:    "Source Code Pro", "Monaco", monospace;
}

#outbound {
    position:   absolute;
    right:      0;
    top:        50%;
    margin-top: -18px;

    &.fade {
        @include _transition(opacity 1s);
        opacity:    0.2;
    }

    ul {
        margin: 0;
    }

    li {
        display:    inline;
    
        i {
            display:    none;
        }

        a {
            @include inline-block;

            width:                  16px;
            height:                 16px;
            margin-left:            8px;

            background-position:    center center;
            background-repeat:      no-repeat;

            &:hover {
                @include _transition(top 0.2s);
                @include box-shadow(0 2px 8px -3px rgba(#000, 0.6));

                padding-top:    -3px;
                position:       relative;
                top:            -2px;
            }
        }
    }
}

#comments {
    @include border-radius(8px);

    margin:     2em auto;
    padding:    1em ($font-size * 2);
    width:      $width-wrapper - ($font-size * 4) - 6px;
    border:     3px dashed mix($color-faint, #fff, 20%);

    &.closed:hover {
        background: rgba(#00f, 0.03);
    }
}

#comments-show {
    display:            block;
    text-align:         center;
    text-transform:     uppercase;
    text-decoration:    none;
    color:              mix($color-faint, #fff, 75%);
    font-family:        $font-head;

    &:hover {
        text-decoration:    underline;
        color:              $color-faint;
    }
}

#comments-inner, #comments-show {
    &.hidden {
        position:   absolute;
        top:        -9999px;
    }
}

#err-home {
    display:        block;
    padding-top:    1em;
}

#err-small {
    @include opacity(0.7);
}


#nav-tw a { background-image: url(/assets/img/twitter.png) }
#nav-gh a { background-image: url(/assets/img/github.png) }
#nav-dr a { background-image: url(/assets/img/dribbble.png) }


